@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
    content: "" !important;
    background: #d8d8d8 !important;
    height: 5px !important;
    width: 35px !important;
    border-radius: 10px !important;
}

.slick-dots li.slick-active button:before {
    background: #d69388 !important;
}

.slick-dots {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 2rem !important;
    bottom: -20% !important;
}